#heart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7d9da; /* Color de fondo del contenedor */
    overflow: hidden; /* Para ocultar los corazones que se salgan del contenedor */
  }
  
  .heart {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0000; /* Color de los corazones */
    border-radius: 50%; /* Para dar forma de corazón */
    animation: heartAnimation 1s infinite alternate; /* Animación de latido */
  }
  
  @keyframes heartAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.3);
    }
  }
  